body{
    font-family: sans-serif;
    margin: 0;
    background-color: #4f696a;
}
.book{
    width: 500px;
    margin:auto;
    margin-top: 5vh;
    height: 90vh;
    background-color: #102020;
    color: #fff;
    text-align: center;
    padding-top: 5px;

}
.book h1{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
}
.book img{
    width: 200px;
}
.book p{
    margin: 0;
    font-size: 10px;
}
.book h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}